.page-home {
    display: flex;
    width: 100%;
    height: 272px;
    left: 0px;
    top: 0px;
    background-color:#04D361;
}

.formulario {
    position: relative;
    height: 88px;
    left: 30%;
    top: 212px;
    display: flex;
}

.campos {
    display: flex;
    flex-direction: row;
}

.campos field {
    padding-left: 4%;
}

.inputCampo {
    width: 235px;
    height: 56px;
    
    border: 1px solid #E6E6F0;
    box-sizing: border-box;
    border-radius: 8px;
    padding-left: 5px;
}

.page-home .search {
    position: relative;
    top: 20px;
    left: 20px;
    width: 100%;
    height: 30px;


    padding-left: 10px;
    background: #FFF;
    border-radius: 8px;
    color: #000;
}

.label {
    color: #FFF;
}


.ordernacao {
    position: relative;
    top: 120px;
    padding-left: 17%;
    color: #000;
}

.inputOrdenacao {
    border: 1px solid #E6E6F0;
    width: 150px;
    border-radius: 8px;
}
.listaFilmes {
    position: relative;
    top: 100px;
    padding-left: 20%;
}
.imagemPoster {
    height: auto; 
    width: auto; 
    max-height: 250px;
    max-width: 200px;
}

.conteudo {
    display: flex;
    flex-direction: row;
}

.poster {
    display: flex;
}
.descricao {
    padding-top: 10px;
    margin-left: 10px;
}

.descricao h2 {
    color: black;
}

.descricao h4 {
    padding-top: 5px;
    color: black;
}
.star{
    width: 4%;
}

.descricao .detalhar {
    margin-top: 130px;
    margin-left: 400px;

    height: 25px;
    width: 100px;
    background: green;
    border-radius: 8px;
    color: #FFF;
}
